<div style='text-align: center'>
  <h1><%= product.name %></h1>
  <p class="lead"><img alt='<%= product.name %>' src="<%= product.image_url %>"></p>
  <button type="button" class="btn btn-success btn-lg col-md-6" style="margin: 0 25%">Buy now!</button>
</div>
